---
import { Image } from 'astro:assets';
import hawkhead from '../assets/hawkhead.png';

const name = "Drew Mills"
const nameBreak = name.split('').map(() => '-').join('')

const location = "Katy, Texas, USA"

const skills = [
	"Swift, Objective-C, SwiftUI, DriverKit, iOS, macOS",
	"C, C++, C#",
	"Java, Spring Boot, Python, TypeScript"
]

const work = [
	"Duet Display, Individual Contributor",
	"Apple, Partner Engineer",
	"USAA, Software Engineer II",
	"Beyond HMI Inc,  President"
]
---

<div class="desktop">
	<div class="desktop-window">
		<div class="desktop-window-decoration">
			<div class="window-decoration-icon close-decoration">
				<i class="fa fa-fw fa-close" aria-hidden="true"/>
			</div>
		</div>
		<div class="desktop-window-content window-item">
			<Image id="neofetch-image" src={hawkhead} alt="AI generated trash." />
			<div class="neofetch-text window-item">
				<div><b>{name}</b></div>
				<div>{nameBreak}</div>
				<div><b>Location:</b> {location}</div>

				<div><b>Skills:</b></div>
				<ul>
					{skills.map((str) => (<li>{str}</li>))}
				</ul>

				<div><b>Work</b></div>
				<ul>
					{work.map((str) => (<li>{str}</li>))}
				</ul>
			</div>
		</div>
	</div>
</div>

<style>

.desktop {
	display: flex;

	justify-content: center;
	align-content: center;

	width: 100%;

	background: linear-gradient(
		130deg,
		var(--royalCloak) 0% 33%,
		var(--swordHiltBurgundy) 66%,
		var(--glisteningGums) 100%
	);
}

.desktop-window {
	flex-shrink: 0;

	margin: 3vh 1vw 3vh 1vw;
	width: fit-content;

	background-color: var(--gravestoneBlue);
	border-radius: 8px 8px 8px 8px;
}

.desktop-window-decoration {
	overflow: hidden;

	background-color: var(--petroleumGrey);
	border-radius: 8px 8px 0px 0px;

	padding: 0px 5px 5px 0px;
}


.window-decoration-icon {
	float: right;
	text-align: center;
	margin: 4px;
}

.close-decoration {
	color: var(--evilEyeRed);
}


.window-item {
	display: flex;
	gap: 1rem;

	align-items: start;
	justify-content: start;

	padding: 1rem;
}

.neofetch-text {
	display: block;
	padding: 0px;
	position: relative;
}


@media only screen and (max-width: 880px) {
	#neofetch-image {
		display: none;
	}
}

@media only screen and (max-width: 571px) {
	.desktop-window {
		margin: 0px;
		border-radius: 0px;
	}

	.desktop-window-decoration {
		display: none;
	}
}

</style>