---
import { Image } from 'astro:assets';

import GridLayout from "../../layouts/GridLayout.astro";
import GridArticle from "../../layouts/GridArticle.astro";
import ExperienceItem from "../../components/ExperienceItem.astro";
import TitleItem from "../../components/TitleItem.astro";

// import susNumImage from "../../assets/suspicious-number.png";
// const susNumAlt = "An Alfred.app window with query 'decimal 42'. There are six results: 0x2A Hexidecimal, 42 Unsigned Integer, 0b00101010 Binary. '*' ASCII String, '*' UTF-8 String."

// import batteryScaleImage from "../../assets/ScaleBooster-Picture.jpg";
// const batteryScaleAlt = 'A top-down picture of a green PCB containing two large chips and several small passives. On the left, there are two small pads labeled 0V and 6V. In the middle near the top is a USB C port facing the camera. In the top right there is text printed on the PCB: "6V Battery Charge/Boost." In the bottom right there is a socket for a JST-SH connector, pointing to the right.';

import appleImage from "../../assets/drew-wwdc.png";
const appleImageAlt = "Alt text";

import beyondHmiImage from "../../assets/reach-hmi.png";
const beyondHmiImageAlt = "Alt text";



const duetBackground = "rgb(95, 153, 220)";
const appleBackground = "rgb(232, 240, 242)";
const usaaBackground = "rgb(18, 57, 91)";
const beyondHmiBackground = "rgb(236, 140, 50)";


const title = "Work";
const description = "Drew Mills's personal and portfolio site.";
---

<GridLayout title={title} description={description}>
	<GridArticle index="0" visibility="visible">
		<div slot="title">
			<ExperienceItem
				startDate="May 2023" endDate="Present"
				skills={["Swift", "SwiftUI", "iOS", "Objective-C", "macOS", "ScreenCaptureKit"]}
				work={[
					{text: "Duet Remote Access", href: "https://www.duetdisplay.com/remote-desktop-access-software"}
				]}
				blurb="Updated the Duet macOS application to ScreenCaptureKit and implemented macOS-side changes to implement new remote access business model. Implemented an improvied protocol over USB in the iOS, macOS, and Windows applications."
			/>
		</div>

		<div slot="image" class="logo duet-logo">
			<span class="logo-text duet-logo-text">Duet</span>
		</div>

		<div class="current-role" slot="description">
			<TitleItem
				role="Contributor" company="Duet"
				href="https://www.duetdisplay.com"
			/>
		</div>
	</GridArticle>

	<GridArticle index="1" visibility="hidden">
		<div slot="title">
			<ExperienceItem
				startDate="August 2020" endDate="March 2023"
				skills={["C++", "Swift", "Objective-C", "DriverKit", "ScreenCaptureKit"]}
				work={[
					{text: "DriverKit Matching Article", href: "https://developer.apple.com/news/?id=zk5xdwbn"},
					{text: "DriverKit Code Signing Article", href: "https://developer.apple.com/news/?id=c63qcok4"},
					{text: "ScreenCaptureKit WWDC Talk", href: "https://developer.apple.com/videos/play/wwdc2022/10155/"}
				]}
				blurb="Worked with partners to unblock their critical issues, facilitated adoption of platform technologies, optimized and enhanced open source software for the Apple silicon architecture, and diagnosed regressions in third party iOS apps."
			/>
		</div>

		<Image
			slot="image" loading="lazy"
			src={appleImage} alt={appleImageAlt}
			style={`display: block; width: 100%; height: 100%; top: 0; object-fit: cover; background: ${appleBackground}`}
		/>

		<div class="current-role" slot="description">
			<TitleItem
				role="Partner Engineer" company="Apple"
				href="https://developer.apple.com"
			/>
		</div>
	</GridArticle>

	<GridArticle index="2" visibility="hidden">
		<div slot="title">
			<ExperienceItem
				startDate="June 2018" endDate="August 2020"
				skills={["Java", "JSON", "React.js", "Redux.js", "Spring Boot", "Python", "TypeScript"]}
				blurb="Provided devops support for enterprise-wide tooling, including apps that enabled over 3,000 developers to discover and utilize over 1,500 APIs, as well as participating in a login redesign impacting over 13 million customers."
			/>
		</div>

		<div slot="image" class="logo usaa-logo">
			<span class="logo-text usaa-logo-text">USAA</span>
		</div>

		<div class="current-role" slot="description">
			<TitleItem
				role="Software Engineer II" company="USAA"
				href="https://www.usaa.com"
			/>
		</div>
	</GridArticle>

	<GridArticle index="3" visibility="hidden">
		<div slot="title">
			<ExperienceItem
				startDate="2013" endDate="August 2020"
				skills={["C", "C++", "Embedded Linux", "Arduino", "Modbus", "Bluetooth Low Energy"]}
				work={[
					{text: "Beyond HMI Reach", href: "https://beyond-hmi.com/roisys"},
					{text: "Beyond HMI Reach Commercial", href: "https://vimeo.com/233572700"}
				]}
				blurb="Designed and developed a device that allowed PLC operators to replace their HMI with an iPad."
			/>
		</div>

		<Image
			slot="image" loading="lazy"
			src={beyondHmiImage} alt={beyondHmiImageAlt}
			style={`display: block; width: 100%; height: 100%; top: 0; object-fit: cover; background: ${beyondHmiBackground}`}
		/>

		<div class="current-role" slot="description">
			<TitleItem
				role="President" company="Beyond HMI, Inc"
				href="https://beyond-hmi.com"
			/>
		</div>
	</GridArticle>
</GridLayout>


<style define:vars={{
	duetBackground,
	usaaBackground
}}>

.logo {
	display: table;

	width: 100%;
	height: 100%;
}

.duet-logo {
	background-color: var(--duetBackground);
}

.usaa-logo {
	background-color: var(--usaaBackground);
}

.logo-text {
	display: table-cell;
	vertical-align: middle;

	font-size: 8rem;
	text-align: center;
}

.duet-logo-text {
	font-family: 'Nunito Sans', sans-serif;
}

.usaa-logo-text {

}

</style>
