---
import { Image } from 'astro:assets';
import BaseLayout from './BaseLayout.astro';
import BackToTopButton from '../components/BackToTopButton.astro';
import TableOfContents from '../components/TableOfContents.astro';

const { frontmatter, headings } = Astro.props;

const options = { year: 'numeric', month: 'long', day: 'numeric' };
const pubDate = new Date(frontmatter.pubDate);
const formattedDate = pubDate.toLocaleDateString(undefined, options);

const allImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
---

<BaseLayout title={frontmatter.title} navPosition="auto">
	<main>
		<div class="header">
			<div class="header-content">
				<div class="header-text">
					<h1 class="title">{frontmatter.title}</h1>
					<div class="date text-dark">{formattedDate}</div>
				</div>
				{ frontmatter.image && <Image
					src={allImages[frontmatter.image.url]()}
					alt={frontmatter.image.alt}
					decoding="async"
					loading="lazy"
					style="max-height: 40vh; max-width: 100%; object-fit: cover;"
				/>}
			</div>
		</div>
		<div class="content">
			<article>
				<slot />
				<BackToTopButton />
			</article>
			<div class="toc-wrapper">
				<TableOfContents headings={headings} />
			</div>
		</div>
	</main>
</BaseLayout>


<style is:global>

html {
	background-image: none;
}

main {
	background-image: none;
}

.header {
	background-color: var(--backgroundColorAlt);
}

.header-content {
	max-width: 768px;

	margin: 0 auto;
	padding: 1rem 0 0 0;
}

.header-text {
	margin: 0 1rem;
}

.title {
	margin: 0;
}

.date {
	padding-bottom: 1rem;
}

.content {
	display: flex;
	flex-direction: column-reverse;
}

article {
	display: grid;

	max-width: 42rem;

	margin: 0 1rem 2rem 1rem;

	line-height: 1.75em;
}

.content article h1, .content article h2,
.content article h3, .content article h4,
.content article h5, .content article h6 {
	margin-bottom: 0;
}

.content article h1, .content article h2 {
	border-bottom: 3px solid var(--accentColor);
}

.content article h3, .content article h4,
.content article h5, .content article h6 {
	border-bottom: 3px solid var(--backgroundColorAlt);
}

.toc-wrapper {
	margin-right: 1rem;
}

img {
	max-height: 40vh;
	max-width: 100%;

	object-fit: contain;
}

/* Tablet Styling */
@media only screen and (min-width: 768px) {
	.content {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
	}

	article {
		grid-column: 2;
	}

	.toc-wrapper {
		position: sticky;
		align-self: start;

		top: 0;
		left: 0;
	}
}

/* Desktop Styling */
@media only screen and (min-width: 1366px) {
	main {
	}
}

</style>
